{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }}">Retour à la liste</a>
{% endblock %}
