{% extends 'base.html.twig' %}



{% if annonce is defined %}
        {% set title, name = 'annonce', 'annonce' %}

{% endif %}
{% block body %}
 {% block title %}Ajouter une {{  title }}{% endblock %}   



    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }}">Retour à la liste</a>
{% endblock %}
