{% extends 'base.html.twig' %}


{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

 {% if category is defined %}
        {% set title, name = 'Catégorie', 'category' %}
{% endif %}

    {% block title %}Créer {{ title }}{% endblock %}



{% block body %}
    <h1>Créer {{ title }}</h1>


    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Retour à la liste</a>
{% endblock %}
