{% extends 'base.html.twig' %}


{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    
 {% if category is defined %}
        {% set title, name = 'Catégorie', 'category' %}
{% endif %}

    <h1>Créer {{ title }}</h1>


    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">Retour à la liste</a>
{% endblock %}
