{% extends 'base.html.twig' %}



 {% if destination is defined %}
        {% set title, name = 'destination', 'destination' %}

{% endif %}
{% block title %}Nouvelle destination{% endblock %}


{% block body %}
    <h1>Créer  {{ title }}</h1>

    {{ include('destination/_form.html.twig') }}

    <a href="{{ path('app_destination_index') }}">Retour à la liste</a>
{% endblock %}
